<!DOCTYPE html>
<html>
<head>
    <title>Welcome to The Dashboard!</title>
</head>
<body>
<h1>{{ title }}</h1>

{#{% if user.isLoggedIn %}#}
{#    Hello {{ user.name }}!#}
{#{% endif %}#}

{# ... #}
</body>
</html>